.root {
    height: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 10px 10px 2px 10px;
    position:relative;
    text-align: center;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
}

.profile-title {
    font-weight: bold;
    padding: 10px;
}

.profile-input {
    width: 80%;
    margin: auto;
}

.profile-input textarea {
    color: #000;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
    height: 90px;
    max-height: 90px;
    min-height: 100px;

    background-color: #FFF;
    width: 100%;

    margin-bottom: 5px;
    border: 1px solid #A9A9A9;
    outline: none;
}

.profile-input textarea:focus {
    outline: none;
}

.action-section {
    flex-basis: 50px;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
}

.close-button {
    padding: 0.5ex 0;
    margin: 0.5ex;
    font-size: 1rem;
    width: 40%;
    max-height: 100%;
    height: 45px;

    border-radius: 10px;
    background-color: #A6A6A6;
    color: #FFF;
    font-weight: lighter;

    margin-left: auto;
    cursor: pointer;
}

.submit-button {
    padding: 0.5ex 0;
    margin: 0.5ex;
    font-size: 1rem;
    width: 40%;
    max-height: 100%;
    height: 45px;

    border-radius: 10px;
    background-color: #8AB158;
    color: #FFF;
    font-weight: lighter;

    margin: auto;
    cursor: pointer;
}


.add-known-board-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-known-board {
    background-color: #ffffff;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
}

.add-known-board-title {
    font-weight: bold;
    margin: 30px auto 10px auto;
    text-align: center;
}

.add-known-board-scanner-container {
    min-width: 280px;
    position: relative;
    width: 70%;
    margin: 10px auto;
}

.add-known-board-scanner-container:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.submodal-qr-code-scanner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FFF;
    background-color: #000;
    display: flex;
}

.submodal-qr-code-text {
    position: absolute;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 10px;
    color: #FFFFFF;
    bottom: 5px;
    z-index: 10;
}

.add-known-board-node-id {
    height: 5px;
    width: 70%;
    min-width: 280px;
    height: 40px;
    margin: 10px auto;
}

.add-known-board-node-id textarea {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    word-wrap: break-word;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    line-height: 23px;
}

::-webkit-input-placeholder {
    text-align:left;
}

input:-moz-placeholder {
    text-align:left;
}

.add-known-board-node-id textarea:focus {
    text-decoration: none;
    outline: none;
}

.add-known-board-node-id textarea:focus {
    outline: none;
}


.add-known-board-action-section {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    min-width: 280px;
    text-align: center;
}

.add-known-board-submit {
    padding: 0.5ex 0;
    margin: 12.5px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #7EB349;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}
.add-known-board-submit:focus {
    text-decoration: none;
    outline: none;
}

.add-known-board-cancel {
    padding: 0.5ex 0;
    margin: 12.5px auto 25px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #BFBFBF;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}
.add-known-board-cancel:focus {
    text-decoration: none;
    outline: none;
}



.overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(105, 105, 105, 0.5);
}
