.root {
    min-height: 78px;
    background-color: #4D474E;
    position:relative;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);

    width: 100%;
}

.wrapper {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.info-section {
    display: flex;
    flex-direction: row;
}

.qr-code-section {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    min-height: 344px;
}

.left-side {
    min-width: 98px;
    padding: 13px 10px 13px 20px;
    display: flex;
    flex-direction: column;
}

.profile-picture {
    min-width: 68px;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    width: 68px;
    height: 68px;
    object-fit: contain;
}

.edit-button {
    width: 100%;
    height: 29px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
    margin-top: auto;
    cursor: pointer;
}

.edit-button:focus {
    text-decoration: none;
    outline: none;
}

.right-side {
    padding: 13px 20px 13px 10px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 98px)
}

.main-info {
    display: flex;
    flex-direction: row;
}

.qr-code {
    width: 270px;
    height: 270px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    margin: auto;
}

.profile-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 0px;
}

.profile-input div, .contact-input div, .desc-input div {
    margin-bottom: 5px;
}

.name {
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 26px;
    color: #FFF;
}

.company, .job-title, .email, .phone, .description {
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 16px;
    color: #FFF;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.description {
    width: 100%;
    height: 54px;
    line-height: 27px;
    font-size: 16px;
}

.profile-input input, .contact-input input {
    background-color: #4C474E;
    outline: none;
    color: #FFF;
    border: 0px solid #FFF;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;

    line-height: 100%;
    color: #FFF;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
}

.desc-input textarea {
    background-color: #4C474E;
    outline: none;
    color: #FFF;
    border: 0px solid #FFF;
    margin-bottom: 5px;
    width: 100%;
    height: 100%;

    line-height: 1.2;
    color: #FFF;

    word-wrap: break-word;

    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    resize: none;
}

.description span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.other-info {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 0px 0px;
}

.unfilled {
    color: #949494;
    font-weight: lighter;
}

.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #949494;
    text-align: center;
    position: relative;
    margin: 5px 0px 5px 0px;
}

.profile-submit {
    height: 30px;
    min-width: 30px;
    margin: 10px 0px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;

    font-size: 20px;
    line-height: 32px;
    color: #4C474E;

    text-align: center;
    cursor: pointer;
}

.editname-modal-action-section {
    min-height: 45px;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: calc(100% - 76px);
    min-width: 280px;
    text-align: center;
}

.editname-modal-submit {
    padding: 0.5ex 0;
    margin: 5px auto;
    font-size: 1rem;
    width: calc(50% - 10px);
    min-width: 100px;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    border: 0px;
    background-color: #7EB349;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.editname-modal-submit:focus {
    text-decoration: none;
    outline: none;
}

.editname-modal-cancel {
    padding: 0.5ex 0;
    margin: 5px auto 5px auto;
    font-size: 1rem;
    width: calc(50% - 10px);
    min-width: 100px;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    border: 0px;
    background-color: #BFBFBF;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.editname-modal-cancel:focus {
    text-decoration: none;
    outline: none;
}
.editname-modal-cancel span, .editname-modal-submit span {
    margin-right: auto;
}
.cancel-icon {
    width: 20px;
    height: 24px;
    margin-right: 5px;
    margin-left: auto;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_cancel@2x.png')
}
.edit-icon {
    width: 20px;
    height: 24px;
    margin-right: 5px;
    margin-left: auto;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_edit@2x.png')
}
.confirm-icon {
    width: 20px;
    height: 24px;
    margin-right: 5px;
    margin-left: auto;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_confirm_white@2x.png')
}
.editname-modal-copy {
    padding: 0.5ex 10px;
    margin: 15px auto;
    font-size: 1rem;
    min-width: 100px;
    max-height: 34px;
    min-height: 34px;

    border-radius: 10px;
    border: 0px;
    background-color: #dda200;
    color: #FFF;
    font-weight: lighter;
    text-align: center;

    cursor: pointer;
}

.editname-modal-copy:hover {
    background-color: #dd8800;
}

.editname-modal-copy:focus {
    outline: none;
}

.mask {
    top: 0px;
    left: 0px;
    height: 70px;
    width: 70px;
    position: absolute;
    background: radial-gradient(circle, transparent 29px, #4C474E 32px);
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #2F2B2F inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
