.root {
    height: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    position: relative;
    text-align: center;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
}

.sign-up {
    display: flex;
    flex-direction: column;
    height: 35%;
    background-color: #e1e1e1;
}

.profile-title {
    font-weight: bold;
    margin: auto;
}

.profile-input {
    width: 80%;
    height: 45px;
    margin: 15px auto;
}

.profile-input-name {
    color: #000;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
    height: 45px;

    background-color: #FFF;
    width: 100%;

    margin-bottom: 5px;
    border: 1px solid #A9A9A9;
    outline: none;
}

.profile-input-name:focus {
    outline: none;
}

.signup-action {
    flex-basis: 50px;
    display: flex;
    flex-direction: row;
    margin: 70px auto auto auto;
    width: 80%;
    text-align: center;
}

.close-button {
    padding: 0.5ex 0;
    margin: 0.5ex;
    font-size: 1rem;
    width: 40%;
    max-height: 100%;
    height: 45px;

    border-radius: 10px;
    background-color: #A6A6A6;
    color: #FFF;
    font-weight: lighter;

    margin-left: auto;
    cursor: pointer;
}

.submit-button {
    font-size: 1rem;
    width: 100%;
    max-height: 100%;
    height: 45px;

    border-radius: 7px;
    background-color: #7eb349;
    color: #FFF;
    font-weight: lighter;

    margin: auto;
    cursor: pointer;
}

.submit-button:focus {
    outline: none;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(105, 105, 105, 0.5);
}

.divider {
    width: 100%;
    height: 10px;
    text-align: center;
    position: relative;
}

.divider span {
    position: absolute;
    top: -14px;
    left: calc(50% - 25px);
    font-size: 15px;
    background-color: #ffffff;
    color: #707070;
    padding: 14px 18px;
    border-radius: 25px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    height: 65%;
}

.signin-action {
    display: flex;
    flex-direction: column;
    margin: 58px auto;
    width: 80%;
    height: inherit;
    text-align: center;
}

.signin-button {
    font-size: 1rem;
    width: 100%;
    max-height: 100%;
    height: 45px;

    border-radius: 7px;
    background-color: #88b9d5;
    color: #FFF;
    font-weight: lighter;

    margin: auto auto 0px auto;
    cursor: pointer;
}

.signin-button:focus {
    outline: none;
}

.scan-btn-container {
  text-align: center;
  margin-bottom: 1em;
}

.scan-btn {
  padding: 3ex 0;
  background: #000000;
  color: #fff;
  margin: auto;
  width: 70%;
}

.submodal-signup-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.submodal-signup {
    background-color: #ffffff;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
}

.submodal-signup-title {
    font-weight: bold;
    margin: 30px auto;
    text-align: center;
}

/*                     */
/* Custom Radio Button */
/*                     */

/* Customize the label (the container) */
.submodal-checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 16px;
    height: 30px;
    line-height: 30px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

/* Hide the browser's default radio button */
.submodal-checkmark-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 7px;
  left: 10px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */
.submodal-checkmark-container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a gray background */
.submodal-checkmark-container input:checked ~ .checkmark {
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.submodal-checkmark-container input:checked ~ .checkmark:after {
  display: block;
  background-color: #707070;
}

/* Style the indicator (dot/circle) */
.submodal-checkmark-container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

/* End of Custom Radio Button */

.submodal-ga-agreement {
    margin: 20px auto 10px auto;
    width: 80%;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.submodal-ga-agreement-item {
    margin: 5px auto;
    font-size: 16px;
    height: 30px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

.submodal-ga-agreement-see-more {
    width: 83px;
    height: 35px;
    line-height: 35px;
    margin: 30px auto;
    border-radius: 8px;
    border: 1px solid #c9c9c9;

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #707070;
}

.submodal-ga-agreement-see-more:hover {
    cursor: pointer;
    background-color: #c9c9c9;
    color: #FFFFFF;
}

.submodal-signup-profile-input {
    width: 80%;
    height: 45px;
    margin: 25px auto;
}

.submodal-signup-action-section {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    text-align: center;
}

.submodal-signup-confirm {
    padding: 0.5ex 0;
    margin: 12.5px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #7EB349;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}

.submodal-signup-cancel {
    padding: 0.5ex 0;
    margin: 12.5px auto 25px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #BFBFBF;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}

.submodal-signin-container {
    background-color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.submodal-signin {
    background-color: #ffffff;
    margin: auto 0px;
    display: flex;
    flex-direction: column;
}

.submodal-signin-title {
    font-weight: bold;
    margin: 30px auto 10px auto;
    text-align: center;
}

.submodal-signin-scanner-container {
    min-width: 280px;
    position: relative;
    width: 70%;
    margin: 10px auto;
}

.submodal-signin-scanner-container:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.submodal-qr-code-scanner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FFF;
    background-color: #000;
    display: flex;
}

.submodal-qr-code-text {
    position: absolute;
    width: 100%;
    align-self: flex-end;
    text-align: center;
    margin-bottom: 10px;
    color: #FFFFFF;
    bottom: 5px;
    z-index: 10;
}

.submodal-signin-node-id {
    height: 5px;
    width: 70%;
    min-width: 280px;
    height: 40px;
    margin: 10px auto;
}

.submodal-signin-node-id textarea {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    word-wrap: break-word;
    background-color: #ffffff;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    line-height: 23px;
}

::-webkit-input-placeholder {
    text-align:left;
}

input:-moz-placeholder {
    text-align:left;
}

.submodal-signin-node-id textarea:focus {
    text-decoration: none;
    outline: none;
}

.submodal-signin-node-id textarea:focus {
    outline: none;
}


.submodal-signin-action-section {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    min-width: 280px;
    text-align: center;
}

.submodal-signin-submit {
    padding: 0.5ex 0;
    margin: 12.5px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #7EB349;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}

.submodal-signin-cancel {
    padding: 0.5ex 0;
    margin: 12.5px auto 25px auto;
    font-size: 1rem;
    width: 100%;
    max-height: 45px;
    min-height: 45px;

    border-radius: 10px;
    background-color: #BFBFBF;
    color: #FFF;
    font-weight: lighter;

    cursor: pointer;
}
