.root {
    height: 100%;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 0px 10px 10px 10px;
    position:relative;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(105, 105, 105, 0.5);
}
