.root {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: 1px solid #A9A9A9;
}

.modal-bar {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #A9A9A9;
    padding: 5px 15px 5px 10px;
    background-color: #FFF;
}

.null-prev-arrow {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    line-height: 38px;
    cursor: pointer;
    margin-right: auto
}

.prev-arrow {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    line-height: 38px;
    cursor: pointer;
    margin-right: auto
}

.prev-arrow-icon {
    height: 40px;
    width: 40px;
    min-width: 19px;
    margin: auto 5px auto 0px;
    background-size: 19px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../images/icon_back@2x.png)
}

.board-name {
    flex-grow: 1;
    line-height: 34px;
    height: 34px;
    text-align: center;
    margin: auto 2px;
    font-weight: bolder;
}

.invite-title {
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #A9A9A9;

    text-align: center;
    font-weight: bolder;
    line-height: 50px;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C1C1C1;
    opacity: 1; /* Firefox */
    font-weight: lighter;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.friend-list {
    display: flex;
    flex-direction: column;
}

.no-friend-text {
    background-color: #F2F2F2;
    color: #B8B8B8;
    text-align: center;
    padding: 5px auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-weight: lighter;
}

.friend-item {
    padding: 10px 10px;
    width: 100%;
    height: 80px;
    min-height: 80px;
    font-size: 16px;
    background-color: #FFF;
    line-height: 30px;
    border-bottom: 1px solid #A9A9A9;
    position: relative;
    display: flex;
    flex-direction: row;
}

/*.friend-item:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}*/

.list-item-author {
    width: 12%;
    min-width:64px;
    color: #808080;
    text-align: center;
    padding: 5px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.list-item-author-pic img {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.list-item-author-name {
    font-weight: lighter;
    color: #000;
    font-size: 14px;
}

.list-item-main {
    flex-grow: 1;
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
}

.list-item-title {
    width: 100%;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-size: 16px;
    height: 25px;
    line-height: 25px;
    font-weight: bolder;
}

.list-item-time {
    min-width: fit-content;
    color: #C0C0C0;
    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    height: 25px;
    line-height: 25px;
    font-size: 14px;
}

.list-item-meta {
    min-width: 105px;
    margin: auto 5px;
    color: #FFF;
    text-align: center;
}

.list-item-selected {
  width: 105px;
  height: 34px;
  line-height: 34px;
  border-radius: 7px;
  background-color: #9d9d9d;
}

.list-item-unselect {
  width: 105px;
  height: 34px;
  line-height: 34px;
  border-radius: 7px;
  background-color: #d46c6c;
}

.list-item-unselect:hover {
  background-color: #c84545;
  cursor: pointer;
}

.list-item-selected:hover {
    background-color: #8D8D8D;
    cursor: pointer;
}

.action-section {
    position: absolute;
    height: 100%;
    text-align: center;
    background-color: #F2F2F2;
}

.submit-button {
    position: fixed;
    max-width: 414px;
    bottom: 10px;
    font-size: 80px;
    cursor: pointer;
    top:85%;
    width: 80px;
    left: calc(50% - 40px);
}

.submit-icon-subcontainer {
    width: 80px;
    height: 80px;
    margin: auto;
}

.submit-icon {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: 80px;
    background-image: url(./../images/btn_confirm@2x.png);
}

.submit-icon:hover {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: 80px;
    background-image: url(./../images/btn_confirm_hover@2x.png);
}

.null-space, .copy-space {
    min-width: 105px;
    height: 50px;
}

.null-space {
    margin-left: 0px;
}

.copy-space {
    margin-right: 0px;
}

.invite-title-text {
    height: 50px;
    margin: auto;
}

.overlay {
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(105, 105, 105, 0.5);
}
