.root {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position:relative;
    text-align: center;
    color: #FFF;
}

.top-bar {
    width: 100%;
    height: 110px;
    min-height: 110px;
    background-color: #4e474e;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 10;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
}

.prev-button {
    width: 105px;
    min-width: 30px;
}

.prev-button-icon {
    width: 30px;
    height: 100%;
    margin: auto;
    margin-left: 10px;
    cursor: pointer;
    background-size: 19px 14px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-image: url('/images/icon_back_white@2x.png');
}

.title {
    flex-grow: 1;
    height: 100%;
    color: #FFF;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;

    font-size: 20px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;

    overflow: hidden;
}

.null-space {
    width: 105px;
    min-width: 105px;
}

.device-list {
    background-color: #FFFFFF;
    height: 100%;
}

.device-item {
    height: auto;
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #a3a3a3;
    color: #484848;
}

/*.device-item div {
    height: 46px;
    line-height: 46px;
    text-align: left;
    padding: 5px 20px;
}*/

.item-index {
    border-radius: 5px;
    border: 1px solid #E09A4B;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 20px auto 5px auto;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 5px 20px;
}

.op-title-index {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow-wrap: break-word;
    color: #E09A4B;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}

.op-title {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow-wrap: break-word;
    color: #7F9662;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}

.op-value-index {
    color: #E09A4B;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

.op-value {
    width: calc(100% - 100px);
    padding: 5px;
    overflow-wrap: break-word;
}


.add-icon-container {
    position: fixed;
    max-width: 414px;
    bottom: 10px;
    font-size: 80px;
    cursor: pointer;
    top:85%;
    width: 80px;
    left: calc(50% - 40px);
}

.add-icon-subcontainer {
    width: 80px;
    height: 80px;
    margin: auto;
}

.add-icon {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: 80px;
    background-image: url('/images/btn_add@2x.png');
}

.add-icon:hover {
    position: relative;
    width: 80px;
    height: 80px;
    background-size: 80px;
    background-image: url('/images/btn_add_hover@2x.png');
}

.submodal-action-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 10px;
}

.submodal-join-board-button {
    padding: 0px;
    margin: 5px;
    font-size: 1rem;
    width: 50%;
    max-height: 100%;
    min-width: 200px;
    height: 45px;

    border-radius: 10px;
    background-color: #88B9D5;
    color: #FFF;
    font-weight: lighter;

    margin: auto;
    cursor: pointer;
}

.submodal-create-board-button {
    padding: 0px;
    margin: 5px;
    font-size: 1rem;
    width: 50%;
    max-height: 100%;
    min-width: 200px;
    height: 45px;

    border-radius: 10px;
    background-color: #7EB349;
    color: #FFF;
    font-weight: lighter;

    margin: auto;
    cursor: pointer;
}

.submodal-close-button {
    padding: 0px;
    margin: 5px;
    font-size: 1rem;
    width: 50%;
    max-height: 100%;
    min-width: 200px;
    height: 45px;

    border-radius: 10px;
    background-color: #A9A9A9;
    color: #FFF;
    font-weight: lighter;

    margin: auto;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align:left;
}

input:-moz-placeholder {
    text-align:left;
}
