.root {
    height: 78px;
    min-height: 78px;
    background-color: #4D474E;
    position:relative;
    z-index:1;
    transition-duration: .3s;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
}

.collapsed {
    height: 0;
    min-height: 0;
    overflow: hidden;
    transition-duration: .5s;
}

.content {
    width: 100%;
    height: 78px;
    max-width: 414px;
    padding: 11px 21px;

    display: flex;
    flex-direction: row;

    z-index: 2;
}

.profile-picture {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-picture img {
    max-width: 100%;
    max-height: 100%;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: auto;
}

.profile-description {
    max-width: calc(100% - 50px - 38px - 38px);
    padding: 0px 20px;
    flex-grow: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-description .name {
    height: 36px;
    line-height: 1.5;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile-latest {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_latest@2x.png');
    background-repeat: no-repeat;
}

.profile-latest-active:hover {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_latest_new_hover@2x.png');
    background-repeat: no-repeat;
}

.profile-latest-active {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_latest_new@2x.png');
    background-repeat: no-repeat;
}

.profile-latest:hover {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_latest_hover@2x.png');
    background-repeat: no-repeat;
}

.profile-qr-code {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_setting@2x.png');
    background-repeat: no-repeat;

    margin-left: 10px;
}

.profile-qr-code:hover {
    cursor: pointer;
    min-width: 38px;
    background-size: 25px 25px;
    background-position: center;
    background-image: url('/images/btn_setting_hover@2x.png');
    background-repeat: no-repeat;
}

label {
    padding: 0px;
    background: transparent;
    display: table;
    color: transparent;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}
