.root {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 100%;

    border-left: solid 1px #A9A9A9;
    border-right: solid 1px #A9A9A9;
}

.top-bar {
    width: 100%;
    height: 110px;
    min-height: 110px;
    background-color: #4e474e;
    padding: 10px;
    display: flex;
    flex-direction: row;
    z-index: 10;

    -webkit-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
    box-shadow: 0px 12px 22px -2px rgba(0,0,0,0.32);
}

.prev-button {
    width: 105px;
    min-width: 30px;
}

.prev-button-icon {
    width: 30px;
    height: 100%;
    margin: auto;
    margin-left: 10px;
    cursor: pointer;
    background-size: 19px 14px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-image: url('/images/icon_back_white@2x.png');
}

.title {
    flex-grow: 1;
    height: 90px;
    color: #FFF;
    text-align: center;
    line-height: 90px;

    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;

    overflow: hidden;
}

.multi-device {
    margin: auto 5px;
    height: 48px;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px 20px;
}

.content-title {
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color: #A9A9A9;
    margin: 5px auto;
}

.oplog-item {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

.item-index {
    border-radius: 5px;
    border: 1px solid #E09A4B;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.op-title-index {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow-wrap: break-word;
    color: #E09A4B;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}

.op-title {
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow-wrap: break-word;
    color: #7F9662;
    font-weight: bold;
    padding: 5px;
    vertical-align: middle;
}

.op-value-index {
    color: #E09A4B;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

.op-value {
    width: calc(100% - 100px);
    padding: 5px;
    overflow-wrap: break-word;
}
