.root {
    height: 50px;
    width: 100%;
}

.content {
    height: 50px;
    width: 100%;
    /*max-width: 413px;*/
    display: flex;
    flex-direction: row;
    /*position: fixed;*/
    background-color: #FFF;
    border-bottom: 1px solid #A9A9A9;
    /*border-right: 1px solid #A9A9A9;*/
    z-index: 10;
}

.prev-button {
    line-height: 30px;
    padding: 10px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
}

.prev-button-icon {
    height: 30px;
    width: 30px;
    min-width: 30px;

    background-size: 19px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../images/icon_back@2x.png);
}

.prev-button a, .prev-button a:hover {
    max-width: 100%;
    height: 100%;
    color: #FFF;
    text-decoration: none;
}

.menu-button {
    line-height: 30px;
    padding: 10px;
    width: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.menu-button-icon {
    height: 30px;
    width: 30px;
    min-width: 30px;

    background-size: 19px 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../images/icon_action@2x.png);

    cursor: pointer;
}

.prev-tag {
    padding: 0px 7px;
    font-size: 14px;
    min-height: 30px;
    background-color: #88B9D5;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.caret {
    margin-left: 10px;
    font-size: 20px;
    align-items: flex-start;
}

.board-name {
    color: #484848;
    line-height: 30px;
    padding: 10px;
    width: 100%;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: default;
}

