.root {
    width: 100%;
    position: relative;
    padding: 7px;
    overflow: visible;
}

.no-content-message {
    margin-top: 30px;
    text-align: center;
    color: #B8B8B8;
    font-size: 16px;
}

/* Space holder: use to avoid add-btn covering list-item */
.list:after {
    content: '';
    clear: both;
    display: block;
    height: 94px;
}

.list-item {
    width: calc(50% - 6px);
    height: 94px;
	padding: 15px 10px 15px 24px;
    margin: 3px 3px;
	font-size: 16px;
    background-color: #FFF;
    line-height: 30px;
    border: 0.5px solid #A3A3A3;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);

    position: relative;
    float: left;
    overflow:hidden;
}

.list-item-hidden {
    width: calc(50% - 6px);
    height: 94px;
    padding: 15px 10px 15px 24px;
    margin: 3px 3px 20px 3px;
    font-size: 16px;
    line-height: 30px;

    position: relative;
    float: left;
    overflow: hidden;
}

@media (max-width: 480px) {
  .list-item {
    width: calc(100% - 42px);
    float: none;
    margin: 7px auto;
  }
}

.list-item > a {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.list-item a:hover {
    text-decoration: none;
}

.list-item:hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.list-item a:focus {
    outline: none;
}

.list-item-label-green {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 94px;
    background: linear-gradient(272deg, #799b58, #8baa6a 29%, #8cab6c);
}

.list-item-label-yellow {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 14px;
    height: 94px;
    background: linear-gradient(to left, #eead00, #eeb66e);
}

.list-item-title-wrapper {
    height: 23px;
    width: 100%;
    padding: 0px 5px;
    /*margin-bottom: 5px;*/
    display: flex;
    flex-direction: row;
}

.list-item-board-status {
    height: 10px;
    width: 10px;
    min-width: 10px;
    margin: auto 5px auto auto;
}

.list-item-board-status:hover {
    cursor: default;
}

.list-item-board-status-pre-alive {
    background-color: #ffc107;
    opacity: 0.5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.list-item-board-status-alive {
    background-color: #28a745;
    opacity: 0.5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.list-item-board-status-failed {
    background-color: #bbb;
    opacity: 0.5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.list-item-board-status-post-failed {
    background-color: #212529;
    opacity: 0.5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.list-item-title {
    height: 23px;
    width: auto;
    padding: 0px 5px;
    margin-right: auto;
    /*margin-bottom: 5px;*/
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
}

.list-item-title-unread {
    height: 23px;
    width: auto;
    padding: 0px 5px;
    margin-right: auto;
    /*margin-bottom: 5px;*/
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
}

.list-item-meta {
    width: 100%;
    color:#808080;
    padding: 0px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: visible;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
    display: flex;
    flex-direction: row;
}

.list-item-space {
    width: 20px;
}

.list-item-time {
    /*width: 33%;*/
    margin: auto;
}

.list-item-author {
    width: 100%;
    height: 30px;
    color: #808080;
    padding: 0px 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.spinner-item {
    padding: 0.5ex 0;
    font-size: 20px;
    color: #aaa;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;  /* make scrollbar transparent */
}

/*.plus-button {
    margin: auto;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_add@2x.png');
}*/

.list-item-edit-button {
    /*width: 33%;
    position: relative;
    margin-left: auto;*/
    width: 20px;
}

.list-item-ellipsis {
    width: 20px;
    height: 23px;
/*    position: absolute;
    right: 0px;
    bottom: 0px;*/
    margin: auto;
    background-size: 15px 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_action@2x.png');
}

.list-item-ellipsis:active, .list-item-ellipsis:hover {
    width: 20px;
    height: 23px;
/*    position: absolute;
    right: 0px;
    bottom: 0px;*/
    margin: auto;
    background-size: 15px 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/icon_action_hover@2x.png');
}

.loader {
    width: 35px;
    height: auto;
    margin-top: 20px;
    margin-left: calc(50% - 17px);
}
