.root {
}

.dd-wrapper {
    position: relative;
    overflow:visible;
    white-space: nowrap;
}

.dd-wrapper:hover {
    cursor: pointer;
}

.dd-header {
    color: #FFF;
    width: 105px;
    min-width: 105px;
    height: 38px;
    margin: 5px 0px 0px 0px;
    border-radius: 7px;
    border: solid 1px #ffffff;
    text-align: center;
    line-height: 38px;
    font-weight: lighter;
    cursor: pointer;
}

.dd-list {
    position: absolute;
    width: 105px;
    z-index: 10;
    background-color: #FFF;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}

.dd-list-item-wrapper {
    width: 100%;
}

.dd-list-item {
    width: 80%;
    margin: 0px auto;
    padding: 5px 10px;
    color: #A9A9A9;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #A9A9A9;
}

.dd-list-item-wrapper:last-child > .dd-list-item {
    border-bottom: none;
}

.dd-list-item-wrapper:hover {
    background-color: #EFEFEF;
}
