@import '../variables';

.root {
    min-height: $chatbarHeight;
    width: calc(100% - #{$drawerWidth});
    background-color: #FFF;
    border-bottom: 1px solid #A9A9A9;
    position: fixed;
    top: 0;
    z-index: 10;
}

.content {
    min-height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    /*position: fixed;*/
/*    border-bottom: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;*/
    z-index: 10;
}


.prev-button {
    line-height: 64px;
    /*padding: 10px 20px;*/
    margin: auto 15px;
    min-width: 19px;
    width: 19px;
/*    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;*/
}

.prev-button a, .prev-button a:hover {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
/*    display: flex;
    flex-direction: row;*/
}

.prev-button-icon {
    height: 14px;
    width: 19px;
    min-width: 19px;
    /*margin: auto 5px auto auto;*/
    background-size: 19px 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./../images/icon_back@2x.png);
}

.main-content {
    width: calc(100% - 49px);
    padding: 10px 0px;
    font-size: 16px;
    font-weight: lighter;
    white-space: pre-line;

    display: flex;
    flex-direction: row;
    min-height: 64px;
    max-height: 64px;
    /*border-bottom: 1px solid #A9A9A9;*/
    cursor: pointer;
}

.profile-pic {
    min-width: 42px;
    padding: 0px 15px 0px 5px;
}

.profile-pic img {
    width: 42px;
    height: 42px;
}

.profile-pic div {
    color: #000;
    text-align: center;
    line-height: 30px;
}

.friend-content {
    width: calc(100% - 62px);
    padding-right: 15px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
    font-size: 16px;
    color: #484848;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name:hover {
    cursor: pointer;
}

.job {
    font-weight:lighter;
    font-size: 14px;
    /*margin-top: 10px;*/
    color: #AFAFAF;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.description {
    font-weight:lighter;
    font-size: 14px;
    color: #4E474E;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-wrapper {
    position: relative;
    line-height: 30px;
    padding: 10px 20px;
    text-align: center;
    width: 20px;
    font-size: 20px;
}

.menu {
    position: absolute;
    color:  #696969;
    top: 17.5px;
    right: 25px;
    cursor: pointer;
}
