.root {
    height: 43.5px;
    width: 100%;
}

.content {
    height: 43.5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-bottom: 1px solid #A9A9A9;
    z-index: 10;
}

.left-button {
    padding: 10px 20px;
    min-width: 64px;
    max-width: 64px;
    font-weight: lighter;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height: 43.5px;
}

.right-button a, .right-button-button a:hover {
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.exit-button-icon {
    height: 100%;
    width: 100%;
    min-width: 19px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/images/exit@2x.png');
    cursor: pointer;
}

.exit-button-text {
    min-width: 65px;
    margin-left: 5px;
}

.board-name {
    height: 43.5px;
    padding: 10px 20px;
    font-weight: bolder;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: default;
    flex-grow: 1;
}

.right-button {
    line-height: 30px;
    padding: 10px 20px;
    text-align: right;
    flex-grow: 1;
    max-width: 64px;
    min-width: 64px;
    font-size: 20px;
    color:  #696969;
    height: 43.5px;
    position: relative;
    box-sizing: border-box;
}
